.rudi-sidebar {
  --sidebar-width: var(--rudi-layout-sidebar-width, 20rem);
  --sidebar-content-min: var(--rudi-layout-sidebar-content-min, 50%);
  --sidebar-space: var(--rudi-layout-sidebar-space, 1.5rem);
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-space);
}

.rudi-sidebar > :first-child {
  flex-basis: var(--sidebar-width);
  flex-grow: 1;
}

.rudi-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--sidebar-content-min);
}

.rudi-sidebar--right > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--sidebar-content-min);
}

.rudi-sidebar--right > :last-child {
  flex-basis: var(--sidebar-width);
  flex-grow: 1;
}

.rudi-sidebar--no-stretch {
  align-items: flex-start;
}
