/* Box */
.rudiment-box {
  --box-padding: var(--token-layout-box-padding, 1rem);
  padding: var(--box-padding);
}

.rudiment-box--bordered {
  border: 1px solid var(--token-color-border-default);
  border-radius: var(--token-radius-md);
}

.rudiment-box--invert {
  background-color: var(--token-color-background-inverted);
  color: var(--token-color-text-on-inverted);
}
