/* Box */
.rudi-box {
  --box-padding: var(--rudi-layout-box-padding, 1rem);
  padding: var(--box-padding);
}

.rudi-box--bordered {
  border: 1px solid var(--rudi-layout-box-border-color);
  border-radius: var(--rudi-layout-box-border-radius);
}

.rudi-box--invert {
  background-color: var(--rudi-layout-box-invert-bg);
  color: var(--rudi-layout-box-invert-text);
}
