.rudiment-grid {
  --grid-min-cell: var(--token-layout-grid-min-cell, 15rem);
  --grid-space: var(--token-layout-stack-space-default, 1.5rem);
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--grid-min-cell), 100%), 1fr)
  );
  gap: var(--grid-space);
}
