.rudiment-switcher {
  --switcher-threshold: var(--token-layout-switcher-threshold, 30rem);
  --switcher-space: var(--token-layout-stack-space-default, 1.5rem);
  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-space);
}

.rudiment-switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--switcher-threshold) - 100%) * 999);
}
