/* Stack */
.rudi-stack {
  --stack-space: var(--rudi-layout-stack-space-default, 1.5rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rudi-stack > * {
  margin-block: 0;
}

.rudi-stack > * + * {
  margin-block-start: var(--stack-space);
}

/* Recursive: apply spacing at any nesting depth */
.rudi-stack--recursive * + * {
  margin-block-start: var(--stack-space);
}

/* Split: push elements after the nth child to the bottom */
.rudi-stack--split {
  min-block-size: 100%;
}
