.rudi-center {
  --center-max-width: var(--rudi-layout-center-max-width, 60rem);
  --center-gutters: var(--rudi-layout-center-gutters, 1rem);
  box-sizing: content-box;
  max-inline-size: var(--center-max-width);
  margin-inline: auto;
  padding-inline: var(--center-gutters);
}

.rudi-center--intrinsic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
